<table class="container table table-dark mt-5">
  <thead>
    <tr>
      <th scope="col">Cod.</th>
      <th scope="col">Nome</th>
      <th scope="col">Idade</th>
      <th scope="col">Salario</th>
    </tr>
  </thead>
  <tbody *ngIf="listaPessoas.length > 0;else listaVazia">
    <tr *ngFor = "let pessoa of listaPessoas">
      <th scope="row">{{pessoa.id}}</th>
      <td>{{pessoa.nome}}</td>
      <td>{{pessoa.idade}}</td>
      <td>{{pessoa.salario | currency}}</td>
    </tr>

  </tbody>
</table>

<ng-template #listaVazia>

  <p class = "text-dark" #listaVazia >Nenhuma pessoa cadastrada</p>
</ng-template>

