<section class="container text">
  <h1 class="display-1 text-center border-personalizada">Cadastro de pessoas</h1>
  <form class="d-flex flex-column align-items-center" (ngSubmit) = "transmitirPessoa()">
    <div class="mb-3 form-group w-50">
      <label class="form-label" for = "nome">Nome</label>
      <input type="text" class="form-control" [(ngModel)] = "nome" name = "nome" />
    </div>
    <div class="mb-3 form-group w-50">
      <label class="form-label">Idade</label>
      <input type="number" class="form-control" [(ngModel)] = "idade" name = "idade"/>
    </div>
    <div class="mb-3 form-group w-50">
      <label class="form-label">Salario</label>
      <input type="number" class="form-control" [(ngModel)] = "salario" name ="salario"/>
    </div>
    <button type="submit" class="btn btn-dark">Cadastrar</button>
  </form>
</section>
